{% include 'snippets/navbar.html' %}
<main>
  <div class="container">
    <h1>Hasil Automatic Text Summarization</h1>
    <p class="keterangan">Peringkasan Berita Menggunakan Metode Cross Latent Semantic Analysis</p>
    {% csrf_token %}
    <div class="card">
      <h4>Teks Asli</h4>
      <hr>
      <br>
      {{ sebelum_preprocessing }}
      <br>
      <br>
      <hr>
      Jumalah maksimal kalimat adalah {{jumlah_masukan_kalimat}}
      <br>
      <br>
      <div class="tab">
        <div class="tabku" onclick="buka_tab(event, 'tab1')">Hasil Ringkasan</div>
        <div class="tabku" onclick="buka_tab(event, 'tab2')">Preprosessing</div>
        <div class="tabku" onclick="buka_tab(event, 'tab3')">TF-IDF</div>
        <div class="tabku" onclick="buka_tab(event, 'tab4')">CLSA</div>
      </div>

      <div id="tab1" class="isi_tab">
      {% for table_clsa in sentences_clsa %} {{ table_clsa | safe }} {% endfor %}</p>
      </div>

      <div id="tab2" class="isi_tab">
        <h3>Sebelum Preprosessing</h3>
        {{ sebelum_preprocessing }}
        <h3>Sesudah Preprosessing</h3>
        {% for table in sesudah_preprocessing %} {{ table | safe }} {% endfor %}
      </div>

      <div id="tab3" class="isi_tab">
        {% for table in tables_TFIDF %} {{ table | safe }} {% endfor %}
      </div>

      <div id="tab4" class="isi_tab">
        {% for table_CLSA in tables_CLSA %} {{ table_CLSA | safe }} {% endfor %}
      </div>
      <!-- <h3>Hasil Ringkasan</h3>
      {% for table in sesudah_preprocessing %} {{ table | safe }} {% endfor %}
      <h3>Tahapan</h3>
      <h3>Sebelum PreProcessing</h3>
      <h3>Sesudah PreProcessing</h3>
      <h3>TFIDF</h3>
      <div class="col-sm-6 col-md-offset-3">{% for table in tables_TFIDF %} {{ table | safe }} {% endfor %}</div>
      <h3>Cross Latent Semantic Analysis</h3>
      {% for table_CLSA in tables_CLSA %} {{ table_CLSA | safe }} {% endfor %} -->
      <!-- <a href="/">Lakukan Ringkasan Lagi</a> -->
    </div>
  </div>
</main>

{% include "snippets/footer.html" %}

<!-- <div class="container">
  <a href="index.php"><h1>Peringkasan Berita Menggunakan Metode Cross Latent Semantic Analysis</h1></a>
  <form action="proses" method="post">
    {% csrf_token %}
    <div class="form-group">
      <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" name="kalimat">{{ sebelum_preprocessing }}</textarea>
        <label for="floatingTextarea2"></label>
      </div>
    </div>
    <div class="form-group">
      <input type="text" class="form-control google-search" name="input_kalimat" value="" placeholder="jumlah masukan kalimat : {{ jumlah_masukan_kalimat }}" placeholder="" />
    </div>
    <div class="form-group">
      <button type="submit" name="Kirim" class="btn btn-primary">Proses</button>
    </div>
  </form>
</div>

<div class="container">
  <h2>Hasil Peringkasan Berita dengan CLSA</h2>
  <p></p>

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Kesimpulan</a></li>
    <li><a data-toggle="tab" href="#menu1">PreProcessing</a></li>
    <li><a data-toggle="tab" href="#menu2">TF IDF</a></li>
    <li><a data-toggle="tab" href="#menu3">CLSA</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <br />
      <div class="container">
        <table class="table">
          <tbody>
            <tr class="success">
              <td>Kalimat Asli</td>
              <td>{{ sebelum_preprocessing }}</td>
            </tr>
            <tr class="info">
              <td>Hasil Peringkasan CLSA</td>
              <td>{% for table_clsa in sentences_clsa %} {{ table_clsa | safe }} {% endfor %}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>Sebelum PreProcessing</h3>
      {{ sebelum_preprocessing }}
      <h3>Sesudah PreProcessing</h3>
      {% for table in sesudah_preprocessing %} {{ table | safe }} {% endfor %}
    </div>
    <div id="menu2" class="tab-pane fade">
      <br />
      <div class="row" id="customers">
        <div class="col-sm-6 col-md-offset-3">{% for table in tables_TFIDF %} {{ table | safe }} {% endfor %}</div>
      </div>
      <br />
    </div>
    <div id="menu3" class="tab-pane fade">
      <br />
      <div class="row">
        <div class="col-sm-6" id="customers">
          <h3>Latent Semantic Analysis</h3>
          {% for table_LSA in tables_LSA %} {{ table_LSA | safe }} {% endfor %}
        </div>
        <div class="col-sm-6" id="customers">
          <h3>Ranking Latent Semantic Analysis</h3>
          {% for sum_LSA in sum_tables_LSA %} {{ sum_LSA | safe }} {% endfor %}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6" id="customers">
          <h3>Cross Latent Semantic Analysis</h3>
          {% for table_CLSA in tables_CLSA %} {{ table_CLSA | safe }} {% endfor %}
        </div>
        <div class="col-sm-6" id="customers">
          <h3>Ranking Cross Latent Semantic Analysis</h3>
          {% for sum_CLSA in sum_tables_CLSA %} {{ sum_CLSA | safe }} {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div> -->
